.container {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 300px;
    border: 1px solid black;
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.max-width {
    max-width: 100px;
}

.item {
    border: 1px solid silver;
    margin: 5px;
    background-color: greenyellow;
}