/*
    1) universal - *
    2) class - .class
    3) id - #id    
    4) element - tag
*/

* {
    color: green;
    background-color: red;
    font-size: 20px;
}

.class {
    color: red;
    background-color: green;
    font-size: 20px;
} 

#id {
    color: blue;
    background-color: yellow;
    font-size: 20px;
}

p {
    color: blue;
    background-color: yellow;
    font-size: 20px;
}